.bg-auth {
  background-image: url('https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg'); /* ajusta la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
