



<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">

  <div class="text-center mb-2">
    <div class="flex justify-center mb-6">
                <div class="w-20 h-20 bg-linear-to-br from-purple-500 to-indigo-600 rounded-full flex items-center justify-center shadow-lg">
                    <img src="images/logo.webp" width="100" height="100" class="w-full h-full object-cover ">
                </div>
            </div>
    <h2 class="text-2xl font-bold text-gray-800">
      Configuración de Perfil
    </h2>
    <p class="text-gray-500 text-sm mt-1">
      Por favor, completa los siguientes campos para personalizar tu experiencia
    </p>
  </div>
    
  <div class="relative">
    <label class="block text-sm font-semibold mb-2 text-gray-700">
      <i class="pi pi-tag mr-2 text-purple-600"></i>
      Tipo de Persona
    </label>
    <p-select 
      [options]="tiposPersona" 
      formControlName="tipoPersona"
      optionLabel="label" 
      optionValue="value"
      placeholder="Selecciona una opción"
      class="w-full"
    />
    @if (submitted() && tipoPersona?.hasError('required')) {
      <p-message severity="error" size="small" variant="simple">
        <p>Seleccione una opción</p>
      </p-message>
    } 
  </div>


    <div class="relative">
      <p-floatlabel variant="on">
        <input 
          type="text" 
          pInputText 
          id="over_label"
          formControlName="nombres"
          pSize="small"
          class="w-full py-2.5 border-2 border-gray-200 rounded-lg focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition-all"
        />
        <label class="block text-sm font-semibold  text-gray-700"><i class="pi pi-user "></i> Nombres</label>
        
      </p-floatlabel>
      @if (submitted() && nombres?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple">
          <p>Nombres requerido</p>
        </p-message>
      } 
    </div>

    <div class="relative">
       <p-floatlabel variant="on">
      <input 
        type="text" 
        pInputText 
        pSize="small"
        formControlName="apellidos"
        class="w-full  py-2.5 border-2 border-gray-200 rounded-lg focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition-all"
      />
      <label class="block text-sm font-semibold  text-gray-700"><i class="pi pi-id-card "></i> Apellidos</label>
      </p-floatlabel>
       @if (submitted() && apellidos?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple">
          <p>Apellidos requerido</p>
        </p-message>
      } 
    </div>

    <div class="relative">
      <p-floatlabel variant="on">
      <input 
        type="text" 
        pInputText 
        pSize="small"
        formControlName="documento"
        maxlength="11"
        class="w-full  py-2.5 border-2 border-gray-200 rounded-lg focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition-all"
      />
      <label class="block text-sm font-semibold  text-gray-700"><i class="pi pi-info-circle "></i> Documento de Identidad (DNI o RUC)</label>
      </p-floatlabel>
      @if (submitted() && documento?.errors) {
          <p-message severity="error" size="small" variant="simple">
            @if (documento?.hasError('required')) {
              <p>El documento es obligatorio</p>
            }

            @if (documento?.hasError('pattern')) {
              <p>
                @if (tipoPersona?.value === 'natural') {
                  El DNI debe tener 8 dígitos
                } @else {
                  El RUC debe tener 11 dígitos
                }
              </p>
            }

          </p-message>
        }
    </div>

  


    <div class="relative">
      <p-float-label variant="on"> 
        <input 
        type="tel" 
        pInputText 
        formControlName="telefono"
        pSize="small"
        maxlength="9"
        class="w-full  py-2.5 border-2 border-gray-200 rounded-lg focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition-all"
        />
        <label class="block text-sm font-semibold  text-gray-700"><i class="pi pi-phone "></i> Teléfono Móvil</label>
      </p-float-label>
       @if (submitted() && telefono?.hasError('required')) {
          <p-message severity="error" size="small" variant="simple">
            <p>Teléfono requerido</p>
          </p-message>
        } 
    </div>

    <div class="relative">
      <p-float-label variant="on">
      <p-datepicker formControlName="fecha_nacimiento"  inputStyleClass="w-full py-2.5   border-2 border-gray-200 rounded-lg focus:border-purple-500 focus:ring-2 focus:ring-purple-200 transition-all" class="w-full" size="small" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy"/>
        <label class="block text-sm font-semibold  text-gray-700">Fecha de Nacimiento</label>
      </p-float-label>
        @if (submitted() && fecha_nacimiento?.hasError('required')) {
          <p-message severity="error" size="small" variant="simple">
            <p>Fecha requerida</p>
          </p-message>
        } 
    </div>

  <button
    type="submit"
    pButton
    class="w-full mt-2 bg-linear-to-r from-purple-600 to-indigo-600 hover:from-purple-700 hover:to-indigo-700 text-white font-semibold py-3 rounded-lg shadow-lg hover:shadow-xl transform hover:scale-[1.01] transition-all duration-200 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    <span class="flex items-center justify-center gap-2">
      Finalizar registro
      <i class="pi pi-arrow-right"></i> 
    </span>
  </button>
</form>