@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-color: #f9fafb;
}